<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Agregar nuevo movimiento</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <style>
    a{
    color: white;
    }
    a:hover{
    color: black;
    text-decoration:none;
    }
</style>
</head>

<body>
<div class="container">

    <h1> Agregar aqui los datos del movimiento</h1>
    <br>
    <!--Crear formulario para que ingresen los datos del emovimiento nuevo-->
    <form th:action="@{/GuardarMovimiento}" th:object="${mov}" method="post">
        <!--Crear cada uno de los campos-->
        <!--Campo para concepto-->
        <div class="row">
            <div class="form-group col-md-12">
                <label class="col-md-3" for="concepto">Concepto del movimeinto:</label>
                <div class="col-md-6">
                    <select th:field="*{concepto}" class="form-control" id="concepto" required="true">
                        <option th:value=1>Papeleria</option>
                        <option th:value=2>Servicios publicos/privados</option>
                        <option th:value=3>Operativos</option>
                        <option th:value=4>Caja menor</option>
                        <option th:value=5>Tributarios</option>
                        <option th:value=6>Mobiliario</option>
                        <option th:value=7>Maquinaria y equipo</option>
                        <option th:value=8>Nomina</option>
                    </select>
                </div>
            </div>
        </div>
        <!--Campo para el monto-->
        <div class="row">
            <div class="form-group col-md-12">
                <label class="col-md-3" for="monto">Valor del movimiento:</label>
                <div class="col-md-6">
                    <input  type="number" th:field="*{monto}" class="form-control" id="monto" required="true">
                </div>
            </div>
        </div>
        <!--Campo para el usuario responsable-->
        <div class="row">
            <div class="form-group col-md-12">
                <label class="col-md-3" for="usuario">Empleado responsable:</label>
                <div class="col-md-6">
                    <select th:field="*{usuario}" class="form-control" id="usuario" required="true">
                        <option th:each="empleado: ${emplelist}" th:text="${empleado.nombre}" th:value="${empleado.id}"></option>
                    </select>
                </div>
            </div>
        </div>


        <!--Boton para agregar la información y ejecutar la acción-->
        <div class="row">
            <div class="col-md-2">
                <button class="btn btn-success">Registrar movimiento</button>

            </div>
        </div>
    </form>

    <br>
    <a href="javascript: history.go(-1)" class="btn btn-info" role="button">Atras</a>

</div>



</body>
